# supervisely[versioning] @ git+https://github.com/supervisely/supervisely.git@b8daf02c
# supervisely[versioning] @ git+https://github.com/supervisely/supervisely.git@branch
supervisely[versioning] @ git+https://github.com/supervisely/supervisely.git@b8daf02c
