# supervisely[versioning] @ git+https://github.com/supervisely/supervisely.git@22a52fb8eb36a9915d1e464489aac28b03ed69f7
# supervisely[versioning] @ git+https://github.com/supervisely/supervisely.git@branch
supervisely[versioning]==6.74.45
