supervisely[versioning] @ git+https://github.com/supervisely/supervisely.git@0eb7117491d722a74d44482eb3b1084b8ee6697f
# supervisely[versioning] @ git+https://github.com/supervisely/supervisely.git@branch
# supervisely[versioning]==6.74.22
