# git+https://github.com/supervisely/supervisely.git@video-volume-versioning-merged
# git+https://github.com/supervisely/supervisely.git@volume-versioning
git+https://github.com/supervisely/supervisely.git@video-versioning