<div>
  <sly-card>
    <div
      class="fflex align-start"
      style="flex-direction: column; margin: 20px 0 20px 0"
    >
      <sly-field title="Select action">
        <el-checkbox
          style="margin: 10px 10px 0 8px"
          v-model="state.create"
          v-if="!state.restore"
          >Create</el-checkbox
        >
        <el-checkbox
          style="margin: 10px 10px 0 8px"
          v-model="state.restore"
          v-if="!state.create"
          >Restore</el-checkbox
        >
      </sly-field>
      <sly-field title="Title" v-if="state.create">
        <el-input placeholder="Text" v-model="state.versionTitle"></el-input>
      </sly-field>
      <sly-field title="Description" v-if="state.create">
        <el-input
          placeholder="Text"
          v-model="state.versionDescription"
          type="textarea"
        ></el-input>
      </sly-field>
      <sly-field title="Version ID" v-if="state.restore">
        <el-input-number
          placeholder="Text"
          v-model="state.targetVersion"
        ></el-input-number>
      </sly-field>
    </div>
  </sly-card>
</div>
