<div>
  <sly-card>
    <div
      class="fflex align-start"
      style="flex-direction: column; margin: 10px 0 10px 0"
    >
      <sly-field title="Select action">
        <el-select v-model="state.actionType">
          <el-option label="Create" value="create"></el-option>
          <el-option label="Restore" value="restore"></el-option>
        </el-select>
      </sly-field>
      <sly-field title="Title" v-if="state.actionType === 'create'">
        <el-input placeholder="Text" v-model="state.title"></el-input>
      </sly-field>
      <sly-field title="Description" v-if="state.actionType === 'create'">
        <el-input
          placeholder="Text"
          v-model="state.description"
          type="textarea"
        ></el-input>
      </sly-field>
      <sly-field title="Version number" v-if="state.actionType === 'restore'">
        <el-input-number v-model="state.version" :min="1"></el-input-number>
      </sly-field>
    </div>
  </sly-card>
</div>
